In [22]:
import pandas as pd

# reading the CSV file
data = pd.read_csv('All_N_rex 5 nm SR 895.csv', sep = ';', header = 0)
df = pd.DataFrame(data)
df

C:\Users\h337\AppData\Local\Temp/ipykernel_12208/369609606.py:4: DtypeWarning: Columns (6,8,10,11,12,16,17,19,20,23,24,25,27,29,33,34,36,38,39,40,41,42,43,44,48,49,50,53,54,55,56,58,59,60,61,63,64,65,68,69,73,74,75,76,79,81,82,83,84,85,86,88,89,90,91,92,93,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('All_N_rex 5 nm SR 895.csv', sep = ';', header = 0)

,Tray,ROI name,File X,File Y,430,435,440,445,450,455,...,850,855,860,865,870,875,880,885,890,895
0,408,green,219,139,0.183823,0.225632,0.193559062,0.200209,0.230949316,0.226894,...,1.031646,1.05632,1.043473,1.055322,1.03509,1.023965,1.033526,0.997228,1.004155,1
1,408,green,220,140,0.283425,0.278042,0.317034933,0.317755,0.288264429,0.301890,...,1.007519,1.017169,1.017592,1.013862,1.018148,0.99648,1.023717,1.017925,1.016553,1
2,408,green,220,141,0.204272,0.196906,0.18548731,0.199005,0.219706448,0.215076,...,1.048977,1.060425,1.040651,1.047068,1.02362,1.040414,1.025636,1.015588,1.006813,1
3,408,green,221,142,0.289078,0.264584,0.292483443,0.266248,0.272297689,0.266771,...,1.044586,1.05108,1.03988,1.039046,1.038986,1.011994,1.012592,1.014537,1.037414,1
4,408,green,221,143,0.164338,0.181370,0.140160308,0.190784,0.212570827,0.201590,...,1.054401,1.061236,1.044481,1.04955,1.037166,1.02414,1.02824,1.048446,1.037028,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84139,270,tech,153,288,1.047203,1.634158,1.102072,1.271400,1.462068,1.125655,...,1.025503,1.024252,1.051773,0.935631,0.974163,0.965022,1.090652,0.972417,0.852335,1
84140,270,tech,153,289,2.454699,1.706376,2.039631,2.145784,1.823796,1.497165,...,0.953262,1.004952,1.10931,1.012926,0.931819,0.922905,1.155726,0.81378,0.969655,1
84141,270,tech,153,290,2.096009,2.067439,1.495791,1.287829,1.761026,1.327758,...,0.99663,0.812158,0.850837,0.867156,0.85044,0.9922,1.050535,0.767644,0.803021,1
84142,270,tech,153,291,1.251032,1.665399,0.999726,0.990982,1.069042,0.990556,...,0.929974,1.086399,1.069519,1.028465,0.951145,1.102539,1.089504,1.00003,0.984915,1
84143,270,tech,153,292,1.093209,1.159429,0.886136,1.091705,1.300388,0.890025,...,0.905217,0.990001,0.997345,0.999671,0.805569,0.834955,0.932299,0.986935,0.987722,1

In [16]:
# vyber kompletnich
df.dropna(axis = 0, how = 'any', inplace = True)
df.shape

(84144, 98)

In [27]:
# rozdeleni podle barev
blue = df.loc[df['ROI name'] == 'blue']
green = df.loc[df['ROI name'] == 'green']
dry = df.loc[df['ROI name'] == 'dry']
tech = df.loc[df['ROI name'] == 'tech']
soil = df.loc[df['ROI name'] == 'soil']

In [40]:
# popisky do grafu
labs = df.columns[4:]
labs

Index(['430', '435', '440', '445', '450', '455', '460', '465', '470', '475',
       '480', '485', '490', '495', '500', '505', '510', '515', '520', '525',
       '530', '535', '540', '545', '550', '555', '560', '565', '570', '575',
       '580', '585', '590', '595', '600', '605', '610', '615', '620', '625',
       '630', '635', '640', '645', '650', '655', '660', '665', '670', '675',
       '680', '685', '690', '695', '700', '705', '710', '715', '720', '725',
       '730', '735', '740', '745', '750', '755', '760', '765', '770', '775',
       '780', '785', '790', '795', '800', '805', '810', '815', '820', '825',
       '830', '835', '840', '845', '850', '855', '860', '865', '870', '875',
       '880', '885', '890', '895'],
      dtype='object')

In [48]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import statistics as stat

In [77]:
med = []
for i in range(len(labs)-1):
    med.insert(i,stat.median(blue[labs[i]]))
med

[0.502162317,
 0.554445678,
 0.610840698,
 0.649735171,
 0.675518536,
 0.67862068,
 0.681241952,
 0.678911654,
 0.671666449,
 0.650447864,
 0.629803082,
 0.60494884,
 0.574069955,
 0.552096732,
 0.520876877,
 0.489794436,
 0.46079173,
 0.422435921,
 0.396030836,
 0.370839423,
 0.345151543,
 0.328307719,
 0.311063641,
 0.300194013,
 0.291568826,
 0.282205675,
 0.276420416,
 0.272642501,
 0.268919327,
 0.267289696,
 0.265996951,
 0.264889331,
 0.26508173,
 0.264620838,
 0.264590965,
 0.264936362,
 0.265176276,
 0.266345023,
 0.26768206,
 0.268256522,
 0.268983479,
 0.270540828,
 0.271517454,
 0.272062479,
 0.273839684,
 0.274965357,
 0.276200944,
 0.276459976,
 0.276004509,
 0.275904937,
 0.276051962,
 0.276157534,
 0.276337168,
 0.276246601,
 0.277331137,
 0.279163673,
 0.281870926,
 0.286565368,
 0.291513442,
 0.296972336,
 0.303796604,
 0.310579705,
 0.32242084,
 0.337212468,
 0.366124436,
 0.404662638,
 0.460047038,
 0.551156816,
 0.629367617,
 0.706185055,
 0.790800559,
 0.843803999,
 0.893565517,
 0.923203977,
 0.946144875,
 0.970253125,
 0.984466822,
 1.000656042,
 1.016967195,
 1.027509479,
 1.034922697,
 1.039584719,
 1.039818248,
 1.040486883,
 1.038705738,
 1.03555882,
 1.030147298,
 1.02913392,
 1.025709031,
 1.022014049,
 1.0191462,
 1.013190779,
 1.008762565]

In [70]:
stat.median(blue[labs[2]])

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
blue = blue.drop(columns = ['ROI name'])

In [74]:
blue = blue.astype(float)

In [75]:
blue.dtypes

Tray      float64
File X    float64
File Y    float64
430       float64
435       float64
           ...
875       float64
880       float64
885       float64
890       float64
895       float64
Length: 97, dtype: object